h1{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}
h2, h3, h4{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

p, a{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
label{
    font-family: 'Quicksand', sans-serif;
}
p{
    text-align: justify;
    margin-bottom: 15px;
}
ul{
    list-style: none;
    box-sizing: border-box;
}
ol, ul{
    font-family: 'Quicksand', sans-serif;
}
a.btn{
    background-color: rgb(42, 151, 244);
    display: inline-flex;
    color: #fff;
    align-items: center;
    white-space: nowrap;
    line-height: 2.5;
    border-radius: 5px;
    padding: 0 25px;
    text-align: center;
}
.swal2-container{
    font-family: 'Quicksand', sans-serif;
}
div{
    box-sizing: border-box!important;
}
/***********************************************************/
body{
    overflow: hidden;
    display: flex;
}
/* ----------------  A S I D E   M E N U  ---------------- */
aside.menu-side{
    flex: 1;
    width: 15vw;
    height: 100%;
    background-color: rgb(43, 48, 53);
    padding-top: 15px;
    position: fixed;
}
aside.menu-side ul{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
aside.menu-side ul li{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
}
aside.menu-side ul li a{
    padding: 12px 0;
    height: 100%;
    padding-left: 15px;
    display: block;
}
aside.menu-side ul li a i{
    font-size: .8em!important;
    margin-right: 8px;
}
aside.menu-side ul li.title-menu a{
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: left;
    padding: 25px 12px 5px 15px;
    font-size: .8em;
    color:hsla(0,0%,100%,.4);
}
aside.menu-side ul li.menu-element a{
    border-left: 3px solid rgba(24, 133, 201, 0);
    color: rgb(231, 231, 231);
}
aside.menu-side ul li.menu-element.active a{
    border-left: 3px solid rgb(24, 133, 201);
    
    background-color: rgb(61, 64, 66);
}

/* --------------------- MAIN CONTENT ---------------------*/
main{
    flex: 3.5;
    background-color: rgb(255, 255, 255);
    width: 85vw;
    height: 100vh;
    padding: 25px 5%;
    padding-left: calc(15vw + 5%);
    overflow: auto;
    padding-bottom: 5vh;
    box-sizing: border-box;
}
@media only screen and (min-width: 1170px){
    main{
        flex: 5;
    }
}
main h1.main-title{
    width: 100%;
    
}
/********************************************************************************/
/* ------------------------ A   F   N      P  A  G  E ------------------------ */
/********************************************************************************/
main .btn{
    margin: 12px 0 25px 30px;
}
main .btn i{
    margin-right: 8px!important;
}

/* OPTIONS */
main .options{
    width: 100%;
    height: 30%;
    display: flex;
    margin-bottom: 20px;
}
main .options .container-select{
    width: 100%;
    height: 100%;
    flex: 1;
}
main .options .container-select .title-container-select{
    /* background-color: #ccc; */
    width: 100%;
    text-align: center;
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    display: inline-block;
}
main .options .container-select .title-container-select i{
    color: rgb(156, 202, 243);
    font-size: 1.5em;
}

main .options .container-select.options-container{
    position: relative;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.123);
    margin: 0 10px;
}
main .options .container-select form.select-options{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
main .options .container-select::-webkit-scrollbar {
    display: none;
}
main .options .container-select form.select-options p.element{
    margin: 0;
    padding: 7px 0;
    width: 100%;
    border-bottom: 1px solid rgb(189, 189, 189);
}
main .options .container-select form.select-options p.element:last-child{
    border: none;
}
main .options .container-select form.select-options p.element label{
    margin-left: 15px;
}
main .options .container-select .buttons-vertical{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .options .container-select .buttons-vertical a.btn{
    flex: 3;
    max-height: 40px;
    margin: 8px 0;
    display: inline-block;
    width: 100%;
}
main .options .divide{
    width: 1px;
    height: 100%;
    background-color: rgb(167, 167, 167);
    margin: 0 8px;
}
/* --------- T A B L E ---------- */
table{
    font-family: 'Quicksand', sans-serif;
    border-color: black;
    border-width: 5px;
}
.create-table-result table{
    width: 100%;
}
.create-table-result table thead{
    width: 100%;
    background-color: rgb(114, 114, 114);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}
.create-table-result table thead td{
    padding: 7px 0;
}
.create-table-result table tbody{
    width: 100%;
    background-color: rgb(247, 252, 221);
    text-align: right;
}
.create-table-result table tbody td{
    background-color: rgb(231, 231, 231);
    padding: 4px 20px;
}